// You can apply style directly to a component
app-student {
  margin: 0.2em;
}

app-student-form {
  margin-left: 1em;
}

.content {
  display: flex;
}

.student-list {
  flex: 1;
}

.student {
  width: 40%;
}

.student-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
