@import 'styles/variables';


/* You can add global styles to this file, and also import other style files */

html {
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

body {
  margin: 0;
  background-color: $background-color;
}

.input-custom, .btn-custom {
  border: 1px solid #282828;
  border-radius: $borderRadius;
  height: 35px;
}

.input-custom {
  padding: 1px 0 1px 10px;
}

.btn-custom {
  margin-top: 0.4em;
  background-color: white;

  &.primary {
    background-color: lightskyblue;
  }

  &.danger {
    background-color: lightsalmon;
  }
}
